@font-face {
  font-family: "SFPD-Regular";
  src: url("https://kenh14cdn.com/web_font/SFPD-Regular.otf"); }

@font-face {
  font-family: "SFPD-Medium";
  src: url("https://kenh14cdn.com/web_font/SFPD-Medium.otf"); }

@font-face {
  font-family: "SFPD-Bold";
  src: url("https://kenh14cdn.com/web_font/SFPD-Bold.otf"); }

.hot14-videoSb {
  width: 310px;
  position: relative;
  border-radius: 6px;
  overflow: hidden; }
  .hot14-videoSb.ended:hover .h14vsb-total {
    opacity: 0;
    visibility: hidden; }
  .hot14-videoSb.ended .h14vsb-suggest {
    opacity: 1;
    visibility: visible; }
  .hot14-videoSb.start .h14vsb-thumb, .hot14-videoSb.start .h14vsb-play-icon, .hot14-videoSb.start .h14vsb-total {
    opacity: 1;
    visibility: visible; }
  .hot14-videoSb.playing:hover .h14vsb-total {
    opacity: 1;
    visibility: visible; }
  .hot14-videoSb .player-wrapper#hot14VSB {
    position: relative;
    z-index: 2; }
    .hot14-videoSb .player-wrapper#hot14VSB .VCSortableInPreviewMode[type='VideoStream'] {
      margin: 0; }
      .hot14-videoSb .player-wrapper#hot14VSB .VCSortableInPreviewMode[type='VideoStream'] .videoNewsPlayer {
        height: auto;
        padding-top: 123.87% !important;
        background: #f1f1f1 !important; }
        .hot14-videoSb .player-wrapper#hot14VSB .VCSortableInPreviewMode[type='VideoStream'] .videoNewsPlayer video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain; }
  .hot14-videoSb .h14vsb-thumb {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    display: block; }
    .hot14-videoSb .h14vsb-thumb i {
      width: 100%;
      padding-top: 123.87%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block; }
  .hot14-videoSb .h14vsb-play-icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: absolute;
    z-index: 5;
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: rgba(51, 51, 51, 0.5);
    border-radius: 50%; }
  .hot14-videoSb .h14vsb-total {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 4;
    width: 100%;
    height: 97px;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .hot14-videoSb .h14vsb-total .h14vsb-title {
      font-size: 15px;
      line-height: 130%;
      font-family: SFPD-Bold;
      display: block;
      color: #FFFFFF;
      padding-right: 43px; }
    .hot14-videoSb .h14vsb-total .h14vsb-info {
      position: absolute;
      top: 10px;
      right: 15px; }
      .hot14-videoSb .h14vsb-total .h14vsb-info .h14icn {
        width: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
  .hot14-videoSb .h14vsb-suggest {
    opacity: 0;
    visibility: hidden;
    z-index: 6;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.9)), to(rgba(51, 51, 51, 0.9)));
    background: -webkit-linear-gradient(bottom, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
    background: -o-linear-gradient(bottom, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 12px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .hot14-videoSb .h14vsb-suggest .list-vsb {
      margin-bottom: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .hot14-videoSb .h14vsb-suggest .list-vsb li {
        width: calc((100% - 10px) / 2); }
      .hot14-videoSb .h14vsb-suggest .list-vsb .h14vsb-sg .vsb-thumb {
        width: 100%;
        display: block;
        margin-bottom: 6px;
        position: relative; }
        .hot14-videoSb .h14vsb-suggest .list-vsb .h14vsb-sg .vsb-thumb i {
          width: 100%;
          padding-top: 123.87%;
          display: block;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 4px;
          position: relative;
          z-index: 1; }
        .hot14-videoSb .h14vsb-suggest .list-vsb .h14vsb-sg .vsb-thumb .play-icon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
          z-index: 2; }
      .hot14-videoSb .h14vsb-suggest .list-vsb .h14vsb-sg .vsb-title {
        font-size: 15px;
        line-height: 130%;
        /* or 19px */
        font-family: SFPD-Bold;
        display: block;
        overflow: hidden;
        color: #FFFFFF;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; }
      .hot14-videoSb .h14vsb-suggest .list-vsb .h14vsb-sg .date {
        font-size: 13px;
        line-height: 130%;
        /* identical to box height, or 17px */
        font-family: SFPD-Medium;
        color: #FFFFFF; }
    .hot14-videoSb .h14vsb-suggest .vsb-funcs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .hot14-videoSb .h14vsb-suggest .vsb-funcs .replay-vsb {
        width: 96px;
        height: 25px;
        background: rgba(255, 255, 255, 0.2);
        border: 0.6px solid #DDDDDD;
        border-radius: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .hot14-videoSb .h14vsb-suggest .vsb-funcs .replay-vsb .icn {
          width: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-right: 8px; }
        .hot14-videoSb .h14vsb-suggest .vsb-funcs .replay-vsb .txt {
          font-size: 13px;
          line-height: 130%;
          /* identical to box height, or 17px */
          font-family: SFPD-Regular;
          display: block;
          color: #FFFFFF; }
      .hot14-videoSb .h14vsb-suggest .vsb-funcs .h14icon {
        width: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
